<body>
    <img alt="full screen background image pages" src="http://bit.ly/1npgnRv" id="full-screen-background-image-pages"/>

<div class="page=header">
  <h1><%= @recipe.name%></h1>
</div>


<div class="row">
    <div class="col-md-8">
    <ul>
      <% @ingredients.each do |ingredient| %>

          <li><%= ingredient.serving_quantity %> <%= ingredient.serving_unit %>
          <%= ingredient.item.name %>
          <!-- How do I use the item ID to show the item in this context? -->
    <% end %>
    </div>
    </ul>

    <div class="col-md-4">
        <% if @recipe.image_file.present? %>
            <img src="/assets/<%= recipe.image_file %>" style="width 260px; height 260px" >
        <% else %>
            <img src="/assets/Plate.jpg" width=260px >
        <% end %>
      </div>
    </div>

</div>


<div class= "row" padding-left>
<p class= "lead"><strong> Directions:</strong></p>
<p> <%= @recipe.directions%> </p>
</div>
</div>
</body>


